//  footer

.footer {

  .span10 {
    border-top: 1px solid $c6_color;
  }

  .list {
    margin-left: 0;

    li {
      text-align: left;
    }

    a {
      color: #636363;
      font-size: 1.2rem;
    }
  }

  .copyright {
    font-size: 1rem;
  }
}
