$navItemMargin : 42px;
$generalOrange: #f37321;
$welcomeColor: #00b0ed;

.welcome {
  color: $welcomeColor;
}

.logoPalceholder {
  display: inline-block;
  position: relative;
  margin-right: 75px;
  padding-left: 45px;


.logo {

  &.gray {
    width: 40px;
    height: 40px;
    background-position: 0 -90px;
    top: 0;
    left: 0;
    position: absolute
  }
}

.logo-title {
  color: $generalOrange;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.logo-moto {
  color: gray;
  font-size: .8rem;
}
}

.navbar {
  .navbar-inner {
    border: none;
    margin-bottom: 20px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .nav {
    margin: 0 0 1rem 0;
    display: inline-block;
    float: none;

    li {

      a {
        font-weight: bold;
        text-align: center;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
        margin-right: $navItemMargin;
        text-transform: uppercase;

        &.active {
          color: $generalOrange;
        }
      }
    }

    //li:first-child,
    li:last-child {

      a {
        padding-right: 0;
        margin-right: 0;
      }
    }
  }
}
