@import "compass_twitter_bootstrap/mixins";
@import "corp_vars";

@import "grid";

body {
  font-family: "ff-meta-web-pro","Helvetica","Arial", "sans-serif";
}

.table {
  thead {
    @include ctb-gradient-vertical($tableHeaderHighlight, $tableHeaderBackground);
    color: white;
  }
}

.section-header {
  color: $sectionHeaderColor;
}

.sub-section-header {
  color: $subSectionHeaderColor;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .divider-right {
    border-left: 1px solid #aaa;
    margin-left: 19px;
  }
}

.legendWrap {
  text-transform: uppercase;
  font-family: Arial;
  font-size: 12px;
}