$tableHeaderHighlight  : #41b0ef;
$tableHeaderBackground : #2f80c8;

$sectionHeaderColor: #01b1ec;
$subSectionHeaderColor: #f37321;

$loginRadialBgInnerColor: #fa8646;
$loginRadialBgOuterColor: #da4d00;


$loginButtonStartColor: #e8671f;
$loginButtonEndColor: $loginRadialBgOuterColor;