@import "variables";
@import "../components/sass-bootstrap/lib/_mixins";

@import "layout";
@import "grid";
@import "utils";
@import "login";
@import "navbar";
@import "footer";
@import "responsive";
@import "debug";

html, body, .appContainer {
  height: 100%;
}

body {
  font-family: "ff-meta-web-pro","Helvetica","Arial", "sans-serif";
}

.table {
  thead {
    @include gradient-vertical($tableHeaderHighlight, $tableHeaderBackground);
    color: white;
  }
}

.section-header {
  color: $sectionHeaderColor;
}

.sub-section-header {
  color: $subSectionHeaderColor;
  text-transform: uppercase;
}

.legendWrap {
  text-transform: uppercase;
  font-family: Arial;
  font-size: 12px;
}

.headerRow {
  background-color: $subSectionHeaderColor;
  color: white;
  h3 {
    margin: 0;
  }
}


// horizontal list

.list.horizontal {

  list-style: none;
  width: 100%;
  text-align: center;
  margin: 0;

  & > li {
    display: table-cell;
    width: 1%;
    float: none;
  }
}

.client-data {
  .list {
    & > li {
      border-left: 1px solid #c0bebf;
      line-height: 30px;

      &:first-child {
        border: none;
      }

      .title {
        color: $dataHeader;
        font-size: 1rem;
      }

      .num {
        color: $subSectionHeaderColor;
        font-size: 2rem;
      }
    }
  }

}

.dataSection {
  background-color: #f9f9f9;
}

.divider-right {
  border-right: 1px solid $c6_color;
  margin-right: -1px;
}

.line-blue {
  height: 2px;
  background-color: #5facec;
  border: none;
  margin-left: 30px
}

.greeting-area {
  line-height: 35px;
}

.graphType {
  width: 10rem;
}