<section class="container footer">
  <div class="row">
    <div class="span1"></div>
    <div class="span10">
      <div class="row padding-t-1">
        <div class="span5">
          <ul class="list horizontal">
            <li><a href="#terms">Terms of Use</a></li>
            <li><a href="#privacy">Privacy Policy</a></li>
            <li><a href="#contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="span5 copyright text-right">&copy;2013 Sojern. All rights Reserved.</div>
      </div>
    </div>
    <span class="span1"></span>
  </div>

</section>
