<div ng-controller="HomeCtrl">
  <div class="row">
    <div class="span12">
      <h3 class="text-center section-header">Event Volume</h3>
    </div>
  </div>
  <div class="row">
    <div class="span3">&nbsp;</div>
    <div class="span6">
      <div class="controls">
        <ul class="inline">
          <li><label class="radio"><input type="radio" name="dateRange"/> Last 30 days</label></li>
          <li><label class="radio"><input type="radio" name="dateRange"/> Last 7 days</label></li>
          <li><label class="radio"><input type="radio" name="dateRange"/> Specific Date</label></li>
        </ul>
      </div>
    </div>
    <div class="span3">
      <select>
        <option>Line Graphs</option>
        <option>Bar Graphs</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div id="eventVolumeChart" class="span12"></div>
  </div>
  <div class="row">
    <div class="span6">
      <h4 class="section-header">Advertiser Performance</h4>
      <h5 class="sub-section-header">Attributable Impression</h5>
      <div id="advertiserPieChart" class="span6"></div>
    </div>
    <div class="span6 divider-right">
      <div class="span5">
        <h4 class="section-header">Visitors &amp; Demographics</h4>
        <h5 class="sub-section-header">Top States</h5>
        <table class="table">
          <thead>
          <th>States</th>
          <th>Percentage</th>
          </thead>
          <tbody>
          <tr ng-repeat="state in states" ng-class-odd="'odd'">
            <td>{{state.name}}</td>
            <td>{{state.percentage}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
