<div ng-controller="HomeCtrl">
  <div class="row how-grid headerRow">
    <div class="span1"></div>
    <div class="span10">
      <h3>{{client.name}}</h3>
    </div>
    <div class="span1"></div>
  </div>
  <div class="row margin-t-2 client-data">
    <div class="span1"></div>
    <div class="span10">
      <div class="row margin-b-2">
        <ul class="list horizontal">
          <li ng-repeat="item in listOfItem" class="dataItem">
            <div class="title">{{item.name}}</div>
            <div class="num">{{item.value | number}}</div>
          </li>
        </ul>
      </div>
     </div>
    <div class="span1"></div>
  </div>
  <div class="row dataSection" ng-controller="ReportsCtrl">
    <div class="span1"></div>
    <div class="span10">
      <section-top>
        <h2 class="text-center section-header">Event Volume</h2>
        <div class="row">
          <div class="span2">&nbsp;</div>
          <div class="span5">
            <div class="controls">
              <ul class="inline">
                <li><label class="radio"><input type="radio" ng-model="dateRange" value="30" name="range" />Last 30 days</label></li>
                <li><label class="radio"><input type="radio" ng-model="dateRange" value="7" name="range" />7 days</label></li>
                <li><label class="radio"><input type="radio" ng-model="dateRange" value="-1" name="range" />Specific Date</label></li>
              </ul>
<!--
              <input popover-content="'scripts/reports/reportDatepicker.tpl.html'" popover-placement="bottom" popover-trigger="focus" />
-->
              <!--<input ui-date type="text" ng-show="dateRange == -1" />-->
            </div>
            <div ng-show="dateRange == -1" class="text-center text-orange"><span am-time="reportFilter.from"></span> - <span am-time="reportFilter.to"></span></div>
          </div>
          <div class="span3">
            <select ng-model="type" ng-options="key as value for (key,value) in graphTypes" class="graphType pull-right" ng-change="switchChartType()"></select>
            <label class="checkbox inline pull-right margin-r-1" ng-show="type == 'bar'"><input type="checkbox" ng-model="grouped" /> Grouped</label>
          </div>
        </div>
        <div class="row">
          <div id="eventVolumeChart" class="span10" gh-visualization val="eventVolume" type="type" grouped="grouped"></div>
        </div>
      </section>
    </div>
    <div class="span1"></div>
   </div>
   <div class="row" ng-controller="ReportsCtrl">
    <div class="span10">
    <section class="margin-t-4">
      <div class="row">
        <div class="span5 divider-right">
          <h3 class="section-header">Advertiser Performance</h3>
          <h5 class="sub-section-header">Attributable Impression</h5>
          <div id="advertiserPieChart" pie-chart val="pieData"></div>
        </div>
        <div class="span5 ">
          <h3 class="section-header">Visitors &amp; Demographics</h3>
          <h5 class="sub-section-header">Top States</h5>
          <table class="table">
            <thead>
            <th>States</th>
            <th>Percentage</th>
            </thead>
            <tbody>
            <tr ng-repeat="state in states" ng-class-odd="'odd'">
              <td>{{state.name}}</td>
              <td>{{state.percentage}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      </section>
    </div>
    <div class="span1"></div>
  </div>
</div>
