<div ng-controller="HomeCtrl">
  <div class="row how-grid headerRow">
    <div class="span1"></div>
    <div class="span10">
      <h3>American Airlines</h3>
    </div>
    <div class="span1"></div>
  </div>
  <div class="row how-grid margin-t-2">
    <div class="span1"></div>
    <div class="span10">
      <div class="row margin-b-2">
        <ul class="list horizontal">
          <li ng-repeat="item in listOfItem" class="dataItem">
            <div class="title">{{item.name}}</div>
            <div class="num">{{item.value}}</div>
          </li>
        </ul>
      </div>
      <section class="dataSection">
        <h2 class="text-center section-header margin-t-2">Event Volume</h2>
        <div class="row">
          <div class="span2">&nbsp;</div>
          <div class="span5">
            <div class="controls">
              <ul class="inline">
                <li><label class="radio"><input type="radio" name="dateRange"/> Last 30 days</label></li>
                <li><label class="radio"><input type="radio" name="dateRange"/> Last 7 days</label></li>
                <li><label class="radio"><input type="radio" name="dateRange"/> Specific Date</label></li>
              </ul>
            </div>
          </div>
          <div class="span3">
            <select>
              <option>Line Graphs</option>
              <option>Bar Graphs</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div id="eventVolumeChart" class="span10"></div>
        </div>

      </section>
      <section class="margin-t-4">
      <div class="row">
        <div class="span5 divider-right">
          <h3 class="section-header">Advertiser Performance</h3>
          <h5 class="sub-section-header">Attributable Impression</h5>
          <div id="advertiserPieChart"></div>
        </div>
        <div class="span5 ">
          <h3 class="section-header">Visitors &amp; Demographics</h3>
          <h5 class="sub-section-header">Top States</h5>
          <table class="table">
            <thead>
            <th>States</th>
            <th>Percentage</th>
            </thead>
            <tbody>
            <tr ng-repeat="state in states" ng-class-odd="'odd'">
              <td>{{state.name}}</td>
              <td>{{state.percentage}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      </section>
    </div>
    <div class="span1"></div>
  </div>
</div>
